/*div{
    border:solid 1px red;
    height:150px
}*/
*{
    box-sizing:border-box;
}

.row{
    border:solid 1px red;
    height:150px;
    font-size: 0px;
}

.col{
    border:solid 2px blue;
    display:inline-block;
    height:100%;
    width:33.33%;
}
.col2{
    border:solid 2px black;
    display:inline-block;
    height:100%;
    width:50%
}
.row2{
    border:solid 2px greenyellow;
    height:50%;

}